//Material Colors 
$red: #e53935;
$pink: #d81b60;
$purple: #8e24aa;
$deep-purple: #5e35b1;
$indigo: #3949ab;
$blue: #1e88e5;
$light-blue: #039be5;
$cyan: #00acc1;
$teal: #00897b;
$green: #43a047;
$light-green: #7cb342;
$lime: #c0ca33;
$yellow: #fdd835;
$amber: #ffb300;
$orange: #fb8c00;
$deep-orange: #f4511e;
$brown: #6d4c41;
$grey: #757575;
$blue-gray: #546e7a;

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.bar {
  background-color: #282a36;
  color: #f8f8f2;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 11px;
  border-radius: 25px;
}

.sidestuff slider {
  all: unset;
  color: $pink;
}

.placeholder {
  color: white;
  font-size: 25px;
  margin-left: 5px;
}

.penguin {
  color: $light-blue;
}

.cpu {
  color: $yellow;
}

.mem {
  color: $red;
}

.hdd {
  color: $indigo;
}

.upt {
  color: $light-green;
}

.updates {
  color: $purple;
}

.metric scale trough highlight {
  all: unset;
  background-color: $pink;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.metric scale trough highlight {
  all: unset;
  background-color: $pink;
  color: #000000;
  border-radius: 10px;
}
.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.icon {
  font-size: 20px;
  padding: 0;
}

.kernel {
  margin-right: 10px;
  margin-left: 5px;
  font-size: 12px;
}

.workspaces {
  font-family: JetBrainsMono;
}

.workspaces button:hover {
  color: $light-blue;
}
